@import '_vars';
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

body {
  background-color: $bg;
  user-select: none;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100vh;
  
  background-color: $bg;
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  margin-top: 20px;
}

.grid__cell {
  background-color: $highlight;
  width: 40px;
  height: 40px;
  border: none;
  border: 2px solid $highlight;
  color: transparent;
  font-size: 20px;

  transition: all .1s ease-in-out;

  &:hover {
    cursor: pointer;
    border: 2px solid $text;
  }
}

.grid__cell_active {
    background-color: $text;
}

.grid__cell_disabled {
  cursor: unset;
  background-color: $main;
  border: none;
  color: $active;

  
  &:hover {
    cursor: unset;
    background-color: $main;
    border: none;
  
  }
}

.clock {
  color: $text;
  background-color: $main;
  font-size: 32px;

  font-family: 'Rajdhani', sans-serif;

  width: 82px;

  margin: 20px auto;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

.bomb {
  color: transparent;
  font-size: 50px;
}

.exposed {
  color: $alt-active;
}

.end {
  top: 50%;
  left: 50%;

  width: 350px;
  height: 200px;

  border-radius: 10px;

  transform: translate(-50%, -50%);

  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $bg;
  position: absolute;
  z-index: 5;

  display: none;
  opacity: 0;

  padding: 10px;

  transition: all .2s ease-in-out;


  .end__message {
    font-size: 40px;
    color: $text;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    z-index: 5;

  }
}

.restart {
  width: 200px;
  height: 60px;
  border: none;
  background-color: $main;
  color: $text;
  font-size: 30px;

  font-family: 'Rajdhani', sans-serif;

  z-index: 5;

  border-radius: 20px;

  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $alt-active;
    color: $bg;
  }
}

.end_active {
  display: flex;
  opacity: 1;
  transition: all .2s ease-in-out;
}

.mask {
  height: 100vh;
  width: 100vw;

  position: absolute;

  z-index: 1;
  background-color: hsla(240, 16%, 6%, 0.705);
}

.flagged {
  cursor: unset;
  background-color: $bg;
  border: 2px solid $alt-active;

  &:hover {
    cursor: unset;
    background-color: $bg;

  }
}

@import 'adaptive'